<html>

<head>
    <style>
        body {
            background-color: lightblue;
        }

        h1 {
            color: white;
            text-align: center;
            font-size: 20px;
            font-family: monospace;
        }

        p {
            color: black;
            text-align: center;
            font-size: 16px;
            font-family: monospace;
        }

        ul {
            color: black;
            text-align: center;
            font-size: 16px;
            font-family: monospace;
            display: inline
        }

        h2 {
            color: black;
            text-align: center;
            font-size: 18px;
            font-family: monospace;
        }
    </style>
    <title>Problem Solving and Software Design Final Project </title>

</head>

<body>
    <h1 style="font-size: 50px;">Automated Job Searcher</h1>
    <h1>By: Caroline Benson, Susanna D'Souza, and Shoaib Rahaman</h1>
    <h1 style="text-decoration: underline; font-size: 30px;">The Big Idea</h1>
    <p>The goal of this project is to webscrape Indeed website for a list of job results that match position and
        location preferences and email them to the user. The user also has the option of selecting whether they'd like
        to schedule this webscraper to give them a list of jobs the following week as well. All of this can be done on
        the user website created.</p>
    <p>In order to use the following code, one would need to open the website html name in their browser. After
        inputting the information regarding their location, position, scheduling, and emailing preferences and hitting
        submit, the html will link to the webscrape.py or email_schedule.py and run the webscraping.py code using the
        preferences given. The results from this python file will then be emailed to the user using the
        email_schedule.py file.</p>
    <h2 style="text-decoration: underline; font-size: 30px;">Program Features</h2>
    <ul>
        <li>Web Scraping</li>
        <li>Email Scheduler</li>
        <li>Email Automation</li>
    </ul>
    <div style="text-align: center; font-family: monospace; font-size: 20px; padding-top: 50px; padding-bottom: 50px;">
        <form action="/jobsearch/" method="GET">
            <button type="submit">Click me!</button>
        </form>

    </div>

    <h2>User Instructions</h2>
    <p>Information to help users download, install, and get started running your software. Here is a collection of
        awesome README templates to get some ideas.
    </p>

    <h2>Implementation</h2>
    <p>The program, as previously mentioned, is extremely simple to interact with as the user simply needs to use the website created to input their job preferences, email address, and selecting whether they'd want to receive a new list the following week. After these inputs, the program will do the rest, including emailing the user the results.

        The code behind the program is not so simple as it includes multiple facets. There are three components to the code: the webscraping of Indeed website, the weekly scheduling of the webscraping, and the emailing of these results.
        
        The program's first part of webscrapping was necessary as there were no free available APIs for any of the popular job boards used.
        The main function is the final function that ties all the multiple webscraping functions together.

        *Insert image of the most important function*
        
        The second part of the project was understanding how to schedule the webscraping to repeat after a certain given time. Our group decided that we'd give the user the option to select scheduling the webscraping weekly. Using the https://dev.to/bhupesh/a-simple-scheduler-in-python-49di article on scheduling, we were able to create the send_jobs function that would have scheduling off as a default unless the user selects "yes" aka "True", then the program would be scheduled weekly.
        
        *Insert image of the send_job function*
        
        The third part of the project was the emailing of the results. This part was extremely important as it was also the method that joined all the code and html together. It took into account the webscraping results and scheduling preerences that initially came from the user website and using an html email template, sent the user the results. We utilized multiple sources to create this function as well as help from Professor Zhi Li.
        
        *Insert image of the email function*</p>
    <h2>Results</h2>
    <p>Here is a look at the results achieved by this program.

        1. Here are the webscraping results that the code brings:
        
        *Insert image of the CSV results file*
        
        2. The CSV file's information is then sent as an email to the user:
        
        *Insert Image of the Email Sent to User*
        Now, it is important to note that in theory the scheduling code should work, however, it was never tested on the weekly basis as it would require the computer constantly on and running. This is an area that still needs work and would be something we would have researched further and implemented, if there was more time. Figuring out how to have the program running for a week in the background would be the next thing we'd tackle.

        As a group, there are multiple results that we've achieved:
        
        1. **Successful Pair Programming**: We worked together as a team, pair programming on multiple facets of the project where we learned visual code tips and tricks from each other, brainstormed implementation methods as a team, and were able to bypass challenges with each other's help.
           
        2. **Learned Webscraping**: While our team varies in webscrapping abilities, we all learned  a little about it(this was dependent on our responsibilities on the team).
        
        3. **Scheduling and emailing**: We learned how to use Python to schedule code and send Emails.</p>

    <h2>Project Evolution</h2>
    <p>Automated Job Searcherhas evolved plenty since the start of the project. In the beginning the idea was to use a website's API to get information, have a database that holds usernames and passwords for users, and to use that database to store all the jobs already sent so that each week only new jobs are sent. What we learned is that while these are great ideas, we first needed to scale down our idea to the bare minimum with one user in mind *and then* build from there.

        As previously mentioned, we tried finding job board APIs that were free, but unfortunately, none could be found. Instead, we found a video tutorial on how to webscrape Indeed that we ended up using (please refer to Attribution for source). We've built this program now with one user at a time using this program. We also decided it would be easier to send all the results received each week and not cross check them as that can become complicated as we involve more users into the situation.
        
        In the future we'd have to work on how the program responds when multiple users are on the website giving their information and preferences in - at that time we might need to create a database for holding email addresses and preferences to create a list of the webscraping our code must do and in what order. In addition, we'd also have to work on how to keep the scheduling automated and in the background. Most importantly, webscraping Indeed is a little iffy so if this project were to move forward we would definitely work with Indeed to receive an API. That was not possible right now as Indeed was no longer recieving applications for using their API. However, with all of these "next tasks" that we have, we are proud of all that we have been able to acheive.</p>

    <h2>Attribution</h2>
    <p>This project could not have been done without the help of our Professor Zhi Li and these sources below that helped in various parts of our project.

        Source for webscraping indeed: https://www.youtube.com/watch?v=eN_3d4JrL_w
        Source for bs4 documentation: https://www.crummy.com/software/BeautifulSoup/bs4/doc/ 
        Source for scheduling: https://dev.to/bhupesh/a-simple-scheduler-in-python-49di
        Source for Emailing:
        - https://blog.mailtrap.io/sending-emails-in-python-tutorial-with-code-examples/#Sending_HTML_email
        - https://dev.to/carola99/send-an-html-email-template-with-python-and-jinja2-1hd0
        - https://www.spritecloud.com/creating-and-sending-html-e-mails-with-python/ </p>








</body>

</html>