<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-color: lightblue;
        }

        h1 {
            color: white;
            text-align: center;
            font-size: 20px;
            font-family: monospace;
        }

        p {
            color: black;
            text-align: center;
            font-size: 16px;
            font-family: monospace;
    
        }
    </style>
    <meta charset="UTF-8">
    <title>Thank you for using our app!</title>
</head>
<h1>Welcome to the Automatic Job Searcher</h1>
<form method="POST" action="/searchresults/" name="web_scrape">
    <p>
        Please enter the job you are look for and the city you are in:
    </p>
    <p>
        Job Name: <input type="text" size="8" name="Position" />

        City: <input type="text" size="8" name="Location" />

        Email: <input type="text" size="10" name="Email" />

        Would you like to be updated weekly on this search? (yes/no) <input type="text" size="5" name="Schedule" />
    </p>
    <p>
        <input type="submit" value="Search" />
    </p>
</form>

</html>